[Unit]
Description=Ingress Start for API Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/aurora/aurora.conf
Environment=CONTAINER=api
ExecStartPre=/usr/bin/docker login $GF_DOCKER_LOGIN_SERVER -u $GF_DOCKER_USER -p $GF_DOCKER_PASSWORD
ExecStart=/usr/bin/docker run -p ${API_PORT}:${API_PORT} --net=host  --name $CONTAINER --entrypoint ./${CONTAINER} ${GF_DOCKER_REGISTRY}/${CONTAINER}:${GF_DOCKER_TAG} -u $AURORA_BASE_URL -p $PACHYDERM_ADDRESS -c 127.0.0.1:${CREAM_PORT}
ExecStop=/usr/bin/docker kill $CONTAINER
ExecStopPost=/usr/bin/docker rm $CONTAINER ; /usr/bin/docker rmi ${GF_DOCKER_REGISTRY}/${CONTAINER}:${GF_DOCKER_TAG}

[Install]
WantedBy=multi-user.target