[Unit]
Description=Ingress Start for ToPach Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/aurora/aurora.conf
Environment=CONTAINER=topach
ExecStartPre=/usr/bin/docker login $GF_DOCKER_LOGIN_SERVER -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD
ExecStart=/usr/bin/docker run -p ${TOPACH_PORT}:${TOPACH_PORT} --net=host  --name $CONTAINER --entrypoint ./topach ${GF_DOCKER_REG_HOST}/topach:latest -p $PACH_IP -a 0.0.0.0:${TOPACH_PORT} -v localhost:${PRESENCE_PORT} -u $MONGO_URL -d $DB_NAME -c $DB_WAVE_COLN
ExecStop=/usr/bin/docker kill $CONTAINER
ExecStopPost=/usr/bin/docker rm $CONTAINER

[Install]
WantedBy=multi-user.target