[Unit]
Description=Ingress Start for ToPach Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/aurora/topach.conf
ExecStartPre=-/usr/bin/docker login -u $USER -p $PASSWORD
ExecStart=/usr/bin/docker run -p 4242:4242 --net=host --name=topach --entrypoint ./topach generalfusion/topach:latest -p $PACH_IP -v localhost:6429 -c $DBCOLLECTION -d $DATABASE_NAME -u $MONGO_URL

[Install]
WantedBy=multi-user.target
