[Unit]
Description=Ingress Start for ToPach Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/aurora/topach.conf
ExecStartPre=-/usr/bin/docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD
ExecStart=/usr/bin/docker run -p 4242:4242 --net=host --entrypoint ./topach generalfusion/topach:latest -p $PACH_IP -v localhost:6429 -u $MONGO_URL -d $DB_NAME -c $DB_COLLECTION 

[Install]
WantedBy=multi-user.target