[Unit]
Description=Ingress Start for Parse Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/aurora/aurora.conf
Environment=CONTAINER=parse
ExecStartPre=/usr/bin/docker login $GF_DOCKER_LOGIN_SERVER -u $GF_DOCKER_USER -p $GF_DOCKER_PASSWORD
ExecStart=/usr/bin/docker run -t --net=host --name $CONTAINER ${GF_DOCKER_REGISTRY}/${CONTAINER}:${GF_DOCKER_TAG} ash
ExecStop=/usr/bin/docker kill $CONTAINER
ExecStopPost=/usr/bin/docker rm $CONTAINER ; /usr/bin/docker rmi ${GF_DOCKER_REGISTRY}/${CONTAINER}:${GF_DOCKER_TAG}

[Install]
WantedBy=multi-user.target
